
h1 {
    text-align:center;
    border: 10px solid #5D56B9;
    background-color:#5D56B9 ;
    border-radius: 23px;
    padding-left:50px ;
    padding-right:50px ;
    font-size: 99px;
}
p {
    border-radius: 23px;
    background: #8DC3E1;
    padding:10px;
    font-size: 64.961px;
}

h2 {
    border-radius: 23px;
    background: #D9D9D9;
    text-align:center;
    margin-left: 130px;
    margin-right: 130px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 64px;
}

footer p{
    background-color: black;
    color:white;
    padding-bottom: 200px;
    font-size: 64px;
}
